In [1]:
import pandas as pd

one_by_class = "../vector_db/autoencoder_cnn_solidletters10X14/results_by_class.csv"
df = pd.read_csv(one_by_class)
df.sort_values("mean_ap")

   query_label   mean_ap  mean_relevant
6            g  0.784977       4.708333
17           r  0.796216       4.875000
5            f  0.799419       4.895833
4            e  0.819196       4.958333
1            b  0.825581       5.166667
10           k  0.832093       5.395833
7            h  0.839007       5.361702
13           n  0.849476       5.375000
20           u  0.850135       5.458333
14           o  0.850487       5.470588
12           m  0.854790       5.448980
3            d  0.856087       5.458333
24           y  0.856754       5.571429
8            i  0.862782       5.580000
15           p  0.868488       5.604167
2            c  0.884721       5.780000
23           x  0.895153       5.916667
16           q  0.900398       5.914894
19           t  0.902541       5.938776
22           w  0.904379       6.062500
25           z  0.909135       6.000000
21           v  0.911697       6.061224
11           l  0.914598       6.122449
18           s  0.916238       6.160000
0            a  0.931358       6.255319
9            j  0.937728       6.240000

In [3]:
one_by_class = "../vector_db/resnet152/results_by_class.csv"
df = pd.read_csv(one_by_class)
df.sort_values("mean_ap")

   query_label   mean_ap  mean_relevant
5            f  0.578238       3.729167
6            g  0.639661       4.250000
10           k  0.654925       4.458333
17           r  0.663194       4.229167
15           p  0.667616       4.562500
4            e  0.695812       4.395833
24           y  0.696460       4.612245
12           m  0.697902       4.437500
13           n  0.732355       5.041667
1            b  0.737457       5.000000
16           q  0.754205       5.063830
0            a  0.761767       5.148936
11           l  0.780820       5.224490
7            h  0.784629       5.234043
3            d  0.787365       5.479167
2            c  0.795442       5.400000
23           x  0.802324       5.500000
14           o  0.810337       5.607843
8            i  0.817415       5.520000
22           w  0.822095       5.520833
18           s  0.822388       5.640000
20           u  0.823845       5.604167
19           t  0.846814       5.836735
9            j  0.859850       5.980000
25           z  0.877933       6.102041
21           v  0.931653       6.408163

In [2]:
from safe_results import compare_results_by_class

one_by_class = "../vector_db/resnet152/results_by_class.csv"
two_by_class = "../vector_db/autoencoder_cnn_solidletters10X14/results_by_class.csv"

df = compare_results_by_class(source = one_by_class, target = two_by_class)
df.sort_values("delta_mean_ap")

   query_label  delta_mean_ap  delta_mean_relevant
21           v      -0.019957            -0.346939
20           u       0.026290            -0.145833
25           z       0.031202            -0.102041
14           o       0.040149            -0.137255
8            i       0.045367             0.060000
7            h       0.054378             0.127660
19           t       0.055727             0.102041
3            d       0.068722            -0.020833
9            j       0.077878             0.260000
22           w       0.082285             0.541667
1            b       0.088124             0.166667
2            c       0.089279             0.380000
23           x       0.092829             0.416667
18           s       0.093850             0.520000
13           n       0.117120             0.333333
4            e       0.123384             0.562500
17           r       0.133022             0.645833
11           l       0.133778             0.897959
6            g       0.145316             0.458333
16           q       0.146193             0.851064
12           m       0.156887             1.011480
24           y       0.160294             0.959184
0            a       0.169590             1.106383
10           k       0.177168             0.937500
15           p       0.200872             1.041667
5            f       0.221181             1.166667